.resume-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0 50px;
}
  
  .resume-parent {
    max-width: 1000px;
    width: 70%;
}

.heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 0 50px;
}
  
  .screen-heading {
    font-size: 32px;
    color: #1f2235;
    font-family: "Poppins Bold";
}
  
  .screen-sub-heading {
    letter-spacing: 3px;
    margin: 8px 0 10px;
    font-size: 12px;
    color: var(--black);
}
  
  .heading-seperator {
    display: flex;
    align-items: center;
    position: relative;
    width: 180px;
    margin: 10px 0 0;
}
  
  .seperator-line {
    width: 100%;
    height: 2px;
    background-color: #1f221f;
}
  
  .seperator-blob {
    height: 10px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
}
  
  .seperator-blob div {
    width: 35px;
    border-radius: 10px;
    background-color: #4DA8DA;
}

.resume-card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.resume-part1 {
  width: 30%;
}

.resume-icon-card {
  margin-top: 30px;
  display: inline-block;
  border: 2px solid black;
  background-color: #1f2235;
  border-radius: 20px;
}

.resume-name-card {
  margin-top: 30px;
  padding-right: 30px;
  display: inline-block;
  box-shadow: 0px 0px 10px -2px #1f2235;
  border-radius: 20px;
}

.resume-details-card {
  margin-top: 30px;
  padding-left: 30px;
  display: none;
}

.resume-details-card-active {
  display: block;
  margin-top: 30px;
  padding-left: 30px;
}

.resume-icon {
  padding: 15px; 
  color: white;
}

.resume-icon-name {
  padding: 15px;
  margin-top: 1.5px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.resume-icon-name-active {
  padding: 15px;
  margin-top: 1.5px;
  background-color: #1f2235;
  color: white;
  border-radius: 20px;
  cursor: pointer;

} */

.resume-icon-name:hover {
  background-color: #1f2235;
  color: white;
  border-radius: 20px ;
}


/* Education - Work CSS */

.resume-details-content{
    margin-top: 40px;
}

.resume-highlight {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  margin: 5px;
  justify-content: space-between;
}

.resume-highlight-i {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  margin: 5px;
  justify-content: initial;
}

.resume-highlight-blob {
  height: 12px;
  width: 12px;
  margin: 0 10px 0 0;
  background-color: #4DA8DA;
  border-radius: 50%;
}

.resume-highlight span {
  font-size: 15px;
  color: #4DA8DA;
  font-weight: bolder;
}

.resume-highlight-i span {
  font-size: 15px;
  color: #4DA8DA;
  font-weight: bolder;
}

.details-year {
  margin-left: 200px;
  font-size: 12px;
  color: white;
  padding: 10px;
  background-color: #4DA8DA;
  border-radius: 20px;
}

.details-description {
  width: 50%;
  font-size: 12px;
  margin-left: 75px;
}

/* Programming CSS  */

.skills-flex {
  display: flex;
  flex-direction: row;
}

.flex1 {
  padding: 0px 20px 0;
}

.flex2 {
  padding: 0px 20px 0;
}

.skills-heading {
  color: #1f2235;
  font-size: 30px;
  font-weight: bolder;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.skill-list {
  width: 100%;
  margin-top: 20px;
  display: flex;
  font-weight: 600;
  flex-direction: row;
  justify-content: space-between;
}

.professional-list {
  margin-top: 10px;
}

.professional-list p{
  font-size: 13px;
  margin: 12px;
  font-weight: 600;
  color: #1f2235;
}

.skill {
  margin-top: -10px;
  border-radius: 10px;
  background: #1f2235;
  padding: 1px;
}

.skill-percent {
  width: 100%;
  height: 10px;
  background: #4DA8DA;
  border-radius: 10px;
}

.GridView {
  display: flex;
  margin-top: 10px;
  flex-direction: row;
}

.circle-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}





.resume-card {
  display: flex;
  flex-direction: row;
  height: 360px;
  width: 1000px;
}

.resume-bullets {
  box-shadow: 15px 0 9px -15px #1f2235;
  height: 100%;
  width: 320px;
}

.bullet-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.bullet-icons {
  width: 40px;
  height: 100%;
  z-index: 1;
  background-color: #1f2235;
  position: absolute;
}

.bullets {
  width: 86%;
  position: relative;
  z-index: 2;
}

.bullet {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  height: 45px;
  margin: 10px 0;
  padding: 0 8px;
  width: 30px;
  color: #1f2235;
}

.selected-bullet {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  border-radius: 20px;
  background-color: #1f2235;
  color: #ffffff;
  height: 45px;
  margin: 10px 0;
  padding: 0 8px;
  width: 100%;
  transition: width .6s ease;
}

.bullet-logo {
  height: 15px;
  color: white;
  margin: -8px 30px 0 0;
}

.bullet-label {
  font-size: 15px;
  white-space: nowrap;
  font-family: "Poppins SemiBold";
}

.resume-bullet-details {
  flex-grow: 1;
  width: 600px;
  overflow: hidden;
  padding: 0 0 0 80px;
}



@media only screen and (max-width: 1023px) {
  .resume-bullets {
    margin: 30px 0;
    width: 100%;
  }

  .selected-bullet {
    width: 100%;
}

  .resume-card {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    align-items: center;
    width: 90%;
}

.bullets {
  width: 90%;
}

}






